{% extends 'base/base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div id="indicagro">
        {% load static %}
        <img src="{% static 'img/indicadores2.png' %}">
    </div>
    <div id="boxLogin">
        <h3>Recuperar contraseña</h3>
        <table>
            <tr>
                <td>
                    <label for="id_email">E-mail:</label></td><td>{{ form.email }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right">
                    <button type="submit" class="boton">Enviar</button>
                </td>
            </tr>
        </table>
    </div>
</form>
{% endblock %}


