{% extends 'base/base.html' %}
{% block javascript %}


{% endblock %}
{% block content %}<div id="boxEncuestaIndex">
<h1>Subtema Visión Y Estrategia</h1>
<p>NOTA</p>
<p>- Debe responder las preguntas de cada indicador para que se guarden</p>
<p>- Una vez completado el subtema, no se puede volver a editar</p>
<div class="survey-description">

</div>
</div>
<div id="boxRegistro">
<div>

		<!--<h3 class="collapsible" id="response_metadata">Encuesta del IARSE<span></span></h3>-->
		<div class="category-container">

		<div class="field-wrapper">


			<span class="form-help-text"></span>
			<div class="form-field-body">

			</div>
		</div>

		<div class="field-wrapper">


			<span class="form-help-text"></span>
			<div class="form-field-body">

			</div>
		</div>
	</div>

		<ol class="survey-questions">
            <h3 class="collapsible">Indicador 1 - Misión - Visión - Valores<span></span></h3>
			<div class="category-container">
				<div class="field-wrapper question-required">
						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.1.1	Tiene clara su misión y los valores que guían su conducta, pero nunca los ha puesto en un documento escrito que pueda compartirse con sus colaboradores, proveedores, clientes y otros productores.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1359"><li><label for="id_question_1359_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1359_0" name="question_1359" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1359_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1359_1" name="question_1359" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>
				<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.1.2	Aunque no tenga los valores escritos en un documento, difunde entre sus colaboradores los valores y principios éticos que orientan su conducta.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1360"><li><label for="id_question_1360_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1360_0" name="question_1360" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1360_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1360_1" name="question_1360" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>
				<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.1.3	A pesar de que están registrados en un documento, otros productores, proveedores y clientes conocen los valores y principios éticos que guían su conducta.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1361"><li><label for="id_question_1361_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1361_0" name="question_1361" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1361_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1361_1" name="question_1361" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>
				<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.2.1	La misión, la visión y los valores de su emprendimiento están formalmente documentados en un escrito de fácil acceso para directivos y colaboradores.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1362"><li><label for="id_question_1362_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1362_0" name="question_1362" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1362_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1362_1" name="question_1362" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>

					<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.2.2	Realiza actividades dirigidas a sus colaboradores para que ellos conozcan y comprendan la misión, visión y valores adoptados por el emprendimiento.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1363"><li><label for="id_question_1363_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1363_0" name="question_1363" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1363_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1363_1" name="question_1363" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>
			<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.3.1	Expone públicamente sus compromisos éticos por medio de material institucional: posters, banners, folletería, página web, etc. de forma adecuada para llegar a proveedores, clientes, productores y otros publicos interesados en su actividad.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1364"><li><label for="id_question_1364_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1364_0" name="question_1364" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1364_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1364_1" name="question_1364" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>
			<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.3.2	Cuándo tiene oportunidad de exponer sus actividades ante otras organizaciones, incluye misión, visión y valores en sus presentaciones.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1365"><li><label for="id_question_1365_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1365_0" name="question_1365" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1365_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1365_1" name="question_1365" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>
			<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.4.1	Revisa periódicamente la formulación de misión, visión y valores con participación del nivel directivo y principales colaboradores.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1366"><li><label for="id_question_1366_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1366_0" name="question_1366" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1366_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1366_1" name="question_1366" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>
			<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.4.2	La declaración de valores de la organización prohíbe expresamente la utilización de prácticas ilegales (Ej. Corrupción, extorsión, coimas, doble contabilidad, etc.) para la obtención de ventajas comerciales.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1367"><li><label for="id_question_1367_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1367_0" name="question_1367" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1367_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1367_1" name="question_1367" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>

					<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.4.3	La formulación de su misión, visión y valores contempla cuestiones referidas al desempeño ético, económico, social y ambiental del negocio.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1368"><li><label for="id_question_1368_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1368_0" name="question_1368" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1368_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1368_1" name="question_1368" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>

					<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.4.4	La formulación de su misión, visión y valores contempla cuestiones referidas al tratamiento responsable de sus colaboradores.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1369"><li><label for="id_question_1369_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1369_0" name="question_1369" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1369_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1369_1" name="question_1369" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>
			<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.4.5	La formulación de su misión, visión y valores contempla el desarrollo de un vínculo positivo con la/s comunidad/es cercana/s a su emprendimiento/s.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1370"><li><label for="id_question_1370_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1370_0" name="question_1370" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1370_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1370_1" name="question_1370" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>
			<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">1.4.6	La formulación de su misión, visión y valores, contempla la posibilidad de diálogo y comunicación con sus principales públicos de interés.</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1371"><li><label for="id_question_1371_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1371_0" name="question_1371" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1371_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1371_1" name="question_1371" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>
			<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">Con cual de los siguientes estadíos su empresa se identifica mejor:</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1372"><li><label for="id_question_1372_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1372_0" name="question_1372" onclick="metodo(this.id)" type="radio" value="Estadío 1:La misión, visión y valores de la empresa están implícitos pero no formalizados en un documento escrito." required /> Estadío 1:La misión, visión y valores de la empresa están implícitos pero no formalizados en un documento escrito.</label></li>
<li><label for="id_question_1372_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1372_1" name="question_1372" onclick="metodo(this.id)" type="radio" value="Estadío 2:La misión, la visión y valores de la empresa han sido trabajados internamente y se encuentran expresados en un documento simple al que acceden directivos y colaboradores." required /> Estadío 2:La misión, la visión y valores de la empresa han sido trabajados internamente y se encuentran expresados en un documento simple al que acceden directivos y colaboradores.</label></li>
<li><label for="id_question_1372_2"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1372_2" name="question_1372" onclick="metodo(this.id)" type="radio" value="Estadío 3:Además de ello, este documento es una carta de presentación de la empresa, cuenta con la difusión adecuada, y es de fácil acceso para los distintos grupos de interés con los que se relaciona la empresa." required /> Estadío 3:Además de ello, este documento es una carta de presentación de la empresa, cuenta con la difusión adecuada, y es de fácil acceso para los distintos grupos de interés con los que se relaciona la empresa.</label></li>
<li><label for="id_question_1372_3"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1372_3" name="question_1372" onclick="metodo(this.id)" type="radio" value="Estadío 4:Misión, Visión y Valores se revisan periódicamente, y consideran las expectativas legítimas de los principales grupos de interés, incluyendo la gestión responsable orientada a la sustentabilidad." required /> Estadío 4:Misión, Visión y Valores se revisan periódicamente, y consideran las expectativas legítimas de los principales grupos de interés, incluyendo la gestión responsable orientada a la sustentabilidad.</label></li>
<li><label for="id_question_1372_4"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1372_4" name="question_1372" onclick="metodo(this.id)" type="radio" value="No me identifico con algún estadío" required /> No me identifico con algún estadío</label></li></ul>
						</div>
					</div>
				<div class="field-wrapper question-required">

						<br><span class="asterix"> <!-- Aca va el * de requerida --> </span><label class="label-inline">Este indicador tiene aplicación para su organización:</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<ul id="id_question_1373"><li><label for="id_question_1373_0"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1373_0" name="question_1373" onclick="metodo(this.id)" type="radio" value="Si" required /> Si</label></li>
<li><label for="id_question_1373_1"><input category="1 - Misión - Visión - Valores" class="required cat_Misión - Visión - Valores" id="id_question_1373_1" name="question_1373" onclick="metodo(this.id)" type="radio" value="No" required /> No</label></li></ul>
						</div>
					</div>


					<div class="field-wrapper">

						<label class="label-inline">En caso de que no aplique, JUSTIFIQUE:</label>

						<span class="form-help-text"></span>
						<div class="form-field-body">
							<textarea category="1 - Misión - Visión - Valores" class=" cat_Misión - Visión - Valores" cols="40" id="id_question_1374" name="question_1374" onclick="metodo(this.id)" rows="10">
</textarea>
						</div>
					</div>



			</div>


		</ol>

		<a href="{% url 'usuarios:simulador2' %}"> <div class="submit-button"><input type="submit" value="Listo" class="boton"></div></a>


</div>
</div>
{% endblock %}

