{% extends 'base/base.html' %}

{% block content %}

<div id="boxResultados2">
    <h2>POLITICAS DE USO</h2>
    <h3>Términos y Condiciones Generales del uso del Sitio</h3>

1. La Bolsa de Cereales de Córdoba, -en adelante la BCCBA- establece por medio de los Términos y Condiciones Generales de Uso del Sitio,  las condiciones para la utilización del sistema On Line de los INDICAGRO, permitiendo una mejor experiencia en su uso, determinando las responsabilidades de los usuarios del sistema y de la BCCBA.
<br>1.1. El proceso de aplicación de los INDICAGRO prevee una etapa de uso del sistema on-line. Este sistema es ofrecido a cualquier tipo de organización interesada en el uso de los INDICAGRO mediante la previa aceptación de los Términos y Condiciones Generales del uso del sitio.
<br>1.2. La utilización del Sitio atribuye la condición de Usuario y expresa la aceptación plena y sin reservas del Usuario de todas y cada uno de los Términos y Condiciones Generales, en el momento mismo en que el Usuario acceda al Sitio.
<br>1.3. Los Términos y Condiciones Generales de Uso del Sitio están sujetos a modificaciones, las que entrarán en vigencia a partir del momento en que sean publicadas en este Sitio o notificadas al Usuario, lo que ocurra primero. Las mismas se presumen aceptadas por Ud. en los mismos términos del punto 1.2.
<br>1.4. La BCCBA se reserva la facultad de efectuar, sin previo aviso, modificaciones respecto a la presentación y configuración del sitio https://indicagro.bccba.com.ar, como asimismo, de los contenidos y servicios presentados.

<br><br>2. Confidencialidad
<br>2.1. Toda la información incluida en la plataforma (tanto de la empresa como del usuario responsable) es de uso confidencial y no será divulgada por la BCCBA.
<br>2.2. Para reforzar el compromiso de confidencialidad de la información, BCCBA ha establecido que toda la información que se intercambie con el Sistema INDICAGRO, se hará utilizando un certificado digital SSL, lo que implica que los datos que viajan a través de internet lo harán de forma encriptada, usando el protocolo HTTPS.

<br><br>3. El Sitio – Sus servicios:
<br>3.1. La plataforma le permite al usuario representante de la empresa que se da de alta, obtener un informe de auto diagnóstico en materia de Responsabilidad Social y Sustentabilidad que le permite conocer la situación actual de la organización e identificar oportunidades de mejora.
<br>3.2. Para la utilización de esta plataforma  se requiere una autovalidación por parte del Usuario. Por ello la BCCBA no se responsabiliza por los datos insertados y no controla la veracidad de los mismos. La decisión sobre la divulgación de los resultados obtenidos a partir de la aplicación de los INDICAGRO es exclusivamente del Usuario.  En el caso de tomar esta decisión, debe indicarse en el documento que se divulga, en forma visible para el lector, que se trata de un auto diagnóstico del  Usuario y que la veracidad de la información es garantizada por el mismo. La BCCBA se exime de cualquier responsabilidad por la veracidad de la información divulgada por el Usuario.
<br>3.3.  La BCCBA puede ponerse en contacto con el usuario que utiliza la plataforma a través de los datos por él consignados, a los fines de consultar y/o hacer un seguimiento del proceso de auto diagnóstico; o por otros temas de interés.
<br>3.4. Las calificaciones de los auto diagnósticos son incluidos a informes de resultados comparativos bajo el absoluto anonimato de las empresas, a los fines de obtener información que permita identificar oportunidades para la mejora del acompañamiento y para la obtención de análisis estadísticos.

<br><br>4. Jurisdicción y Ley Aplicable
<br>4.1. Toda cuestión que se suscite entre la BCCBA y el Usuario estará regida por las leyes de la República Argentina, con exclusión de toda norma que remita a la aplicación de una ley extranjera. Toda cuestión que se suscitare entre las partes, se resolverá definitivamente por los Tribunales Ordinarios de la Ciudad de Córdoba, con exclusión de cualquier otro fuero.

<br><br>5.  Propiedad Intelectual - Marcas
<br>5.1. https://indicagro.bccba.com.ar  es el nombre del sitio de la BCCBA registrado así conforme las leyes y procedimientos en la materia ante el Ministerio de Relaciones Exteriores.   Los derechos vinculados a los signos distintivos y/o dominios de las BCCBA,  https://indicagro.bccba.com.ar   y derivados, en sus diferentes modalidades, pertenecen a las BCCBA, por lo que su utilización no autorizada por terceros dará lugar a las responsabilidades legalmente establecidas.
<br>5.2.  Propiedad de la marca y exclusividad de su uso: INDICAGRO - https://indicagro.bccba.com.ar, Bv. R. O. de Ocampo 317, Córdoba Argentina. Los derechos de explotación están absolutamente reservados atento haberse cumplimentado con las disposiciones legales vigentes.
<br>5.3. Los derechos de propiedad intelectual sobre el sitio https://indicagro.bccba.com.ar  y todo su contenido son de propiedad de la BCCBA. El uso del Sitio no transfiere ningún derecho de propiedad relativo al producto y los servicios aquí establecidos.
<br>5.4.  Se prohíbe reproducir, duplicar, copiar, vender, revender o explotar por cualquier propósito comercial, ninguna parte https://indicagro.bccba.com.ar, su uso o acceso.

</div>

{% endblock %}