{% extends 'base.html' %}

{% block body %}

<div id="boxResultados3">
<div style="margin: 10px 10px 10px 10px;">
    <table>
        <tr><td>
           <div id="boxAzul2"> <h1>Créditos de la versión original (1.0)</h1></div>
        </td></tr>
        <tr><td>
            <br>
            <strong>Indicadores de Responsabilidad Social y Sustentabilidad para Empresas Agropecuarias</strong>, es una publicación registrada bajo propiedad intelectual de la Bolsa de Cereales de Córdoba (BCCBA). A pedido de dicha entidad, la misma ha sido desarrollada por el Instituto Argentino de Responsabilidad Social Empresaria (IARSE).
        </td></tr>
        <tr><td>
            <br><br>
            <h2>Propiedad intelectual</h2>
            Bolsa de Cereales de Córdoba.
            <br>Av. Gral. Francisco Ortíz de Ocampo 317, Código Postal: X5000FND – Ciudad de Córdoba – ARGENTINA- Teléfonos Cámara: +54(351) 4229637 / 4253716 / 4247256 - Teléfonos Bolsa: +54(351) 4224293 / 4214164 - Fax: +54(351) 4233772
            <br>www.bccba.com.ar
            <br>Email: contacto@bccba.com.ar
            <br>Facebook: Bolsa de Cereales de Córdoba
            <br>Twitter: @BCCBA
        </td></tr>
        <tr><td>
            <br><br>
            <h2>Realización Técnica</h2>
            Instituto Argentino de Responsabilidad Social Empresaria – IARSE
           <br>Almirante Brown 245 – Córdoba – ARGENTINA
           <br>Teléfonos: +54 351 4887314
           <br>www.iarse.org
           <br>Email: mail@iarse.org
        </td></tr>
        <tr><td>
            <br><br>
            <h2>Dirección Académica del Proyecto y Coordinación Técnica:</h2>
            Luis Alberto Ulla

        </td></tr>
        <tr><td>
            <br><br>
            <h2>Colaboradores del IARSE en el proyecto:</h2>
            Federico Zarate
            <br>Alejandro Roca
            <br>Julieta Ramírez
        </td></tr>
        <tr><td>
            <br><br>
            <h2>Colaboradores de la BCCBA en el proyecto</h2>
            Graciela Stralla
            <br>María Pía Carnero
            <br>Carla Spinazze
            <br>María Luz Fuentes
            <br>Ana Clara Rho
            <br>Gonzalo Agusto
            <br>Ramiro Farías
        </td></tr>
        <tr><td>
            <br><br>
            <h2>Experta externa asociada al Equipo del IARSE:</h2>
            Alicia Rolando
        </td></tr>
        <tr><td>
            <br><br>
            <h2>Expertos Ad Honorem Consultados</h2>
            Gloria Viotti
            <br>Alejandro Tobal
            <br>Carlos Ferrari
            <br>Vicente José Pablo Rea Pidcova
        </td></tr>
        <tr><td>
            <br><br>
            <h2>Investigación y Desarrollo original</h2>
            Luis Ulla – Alicia Rolando – Federico Zarate
        </td></tr>
        <tr><td>
            <br><br>
            <h2>Dirección Académica del Software</h2>
            Luis Ulla
            <br>Federico Zarate
        </td></tr>
        <tr><td>
            <br><br>
            <h2>Desarrollo Operativo del Software</h2>
            Mauricio Morero y Federico Zárate
        </td></tr>
        <tr><td>
            <br><br>
            <h2>Agradecimientos especiales</h2>
            A las autoridades y representantes del Ministerio de Agricultura de la Provincia de Córdoba.
            <br><br>A las autoridades, integrantes y expertos de AACREA y AAPRESID. Estas instituciones sumaron opiniones, sugerencias y aportes para hacer más precisa y útil esta herramienta para las empresas agropecuarias.
            <br><br>Queda hecho el depósito que marca la Ley Nº 11.723. Derechos reservados
            <br><br>Solo está permitida la reproducción parcial del contenido de esta publicación citando la fuente y con la autorización previa por escrito de la Bolsa de Cereales de Córdoba.
        </td></tr>
        <tr><td align="center">
            <br><br><br><br>
                {% load static %}
                <img src="{% static 'img/logobolsa.png' %}" width="350" height="175">
        </td></tr>
        <tr><td>
            La Bolsa de Cereales de Córdoba y Cámara de Cereales y Afines de Córdoba Tribunal Arbitral, es una asociación civil sin fines de lucro que agrupa en su seno a los participantes de los sectores de la producción, comercialización, servicios, transformación y exportación de granos, cereales, oleaginosos, legumbres, frutos, productos y subproductos, brindándoles el ámbito adecuado para la realización de sus operaciones y el marco de seguridad y legalidad necesaria para el cumplimiento de sus contratos.
            Son sus objetivos:
            <br> - Asumir la representación de los sectores que la conforman.
            <br> - Fomentar el espíritu de cooperación de los sectores representados y ejercer funciones arbitrales.
            <br> - Coordinar la acción de quienes intervienen en la producción, comercialización, servicios, transformación y exportación de granos, cereales, oleaginosos, legumbres, frutos, productos y subproductos.
            <br> - Tender al mejoramiento y transparencia de los usos comerciales.
            <br> - Promover dentro de su seno la adhesión de entidades representativas de cada uno de los sectores intervinientes.
        </td></tr>
        <tr><td align="center">
            <br><br><br><br>
                {% load static %}
                <img src="{% static 'img/logoiarsefondo.png' %}" width="295" height="227">
        </td></tr>
        <tr><td>
            El Instituto Argentino de Responsabilidad Social Empresaria (IARSE) es una organización que trabaja para constituirse en un centro de referencia nacional en materia de responsabilidad social y gestión sustentable de las empresas. Fue fundado a mediados del año 2002 con la misión de “promover y difundir el concepto y la práctica de la Responsabilidad Social Empresaria, para impulsar el desarrollo sustentable de Argentina”. Se trata de una organización privada, sin fines de lucro, con sede en la ciudad de Córdoba que opera en toda la Argentina. Posee un destacado y creciente grupo de más de 160 empresas que lo apoyan en el cumplimiento de su misión institucional.
            El Instituto crea valor para las empresas y la sociedad trabajando junto al mundo de los negocios, generando herramientas de gestión, redes y mecanismos de información e intercambio de experiencias. Promueve además la colaboración mutua entre las compañías que han decidido hacer de su conducta responsable un valor a partir del cual contribuyen a la construcción de una sociedad más justa y sustentable.
            Basándose en un conjunto de actividades y servicios orientados a todos los interesados en esta temática, pretende fortalecer el compromiso del sector de los negocios de Argentina con el desarrollo sustentable de la región. Genera información y conocimiento, divulga buenas prácticas en materia de RS y Gestión Responsable Orientada a la Sustentabilidad – GROS, establece alianzas con entidades similares de toda América Latina y el mundo, promueve un compromiso gradual y creciente por parte de las empresas así como el ejercicio de una práctica profesional de la Responsabilidad Social; con todo ello, aspira a incidir –de una manera concreta- en el cambio estructural que el tránsito hacia una economía más verde, equitativa e inclusiva requiere.
            El IARSE trabaja en red con organizaciones comprometidas con la instalación de la RS y la Sustentabilidad en Argentina. Esta red está conformada por núcleos empresarios que funcionan en distintas ciudades del país. Autónomos e independientes, los núcleos cuentan con programas propios de trabajo para contribuir a que las empresas que los conforman puedan llevar adelante una gestión ética, social y ambientalmente responsable.
        </td></tr>
    </table>
</div>
</div>

{% endblock %}